.conteiner{
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh;
  // background-color: #f0f0f0;
}

.custom-card{
  max-width: 400px;
}
