<h2 mat-dialog-title>
  {{ editTroquel ? "Editando " + editTroquel.obleaOld : "Cargar troquel" }} </h2>

<mat-dialog-content>
 <form [formGroup]="troquelForm" (ngSubmit)="onSubmit()" >

  <mat-form-field class="w-full">
    <mat-label>Selecione Fecha</mat-label>
    <input matInput [matDatepicker]="picker" formControlName = "date">
    <mat-error>El campo es requerido</mat-error>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Código QR</mat-label>
    <input formControlName="qr" matInput />
    <mat-error>El campo es requerido</mat-error>
  </mat-form-field>


   <mat-form-field class="w-full">
     <mat-label>Formulario Anterior</mat-label>
     <input formControlName = "numberFormOld" matInput />
     <mat-error>El campo es requerido</mat-error>
   </mat-form-field>

   <mat-form-field class="w-full">
     <mat-label>Formulario Nuevo</mat-label>
     <input formControlName = "numberFormNew" matInput />
     <mat-error>El campo es requerido</mat-error>
   </mat-form-field>

   <mat-form-field class="w-full">
     <mat-label>Oblea Anterior</mat-label>
     <input formControlName = "obleaOld" matInput />
     <mat-error>El campo es requerido</mat-error>
   </mat-form-field>


   <mat-form-field class="w-full">
     <mat-label>Motivo</mat-label>
     <input formControlName = "reson" matInput />
     <mat-error>El campo es requerido</mat-error>
   </mat-form-field>

   <div>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button type="submit" (click)="onSubmit()" mat-button >Guardar</button>
   </div>


 </form>
</mat-dialog-content>


